<?xml version="1.0"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="KanbanBoxCheckHealthSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://kis.localhost/KanbanBox/KanbanBoxCheckHealth.asmx"
                binding="basicHttpBinding" bindingConfiguration="KanbanBoxCheckHealthSoap"
                contract="KanbanBoxCheckHealth.KanbanBoxCheckHealthSoap" name="KanbanBoxCheckHealthSoap" />
        </client>
    </system.serviceModel>
</configuration>
