@model IEnumerable<KIS.App_Sources.WorkInstructions.WorkInstruction>

@if (ViewBag.authW)
{
    if (Model.Count() > 0)
    {
        if (ViewBag.showAdd)
        {
            // Add a new workinstruction form
<div class="row-fluid" id="divAddManual">
    <div class="span12">
        
    </div>
</div>
        }
        else
        {
            // Show Task Manual
            <div class="row-fluid" id="divEditManual">
                <div class="span12">
                    @foreach (var wi in Model)
                        {
                            <p>@wi.Name</p><br />
                        }
                </div>
            </div>
        }
    }
    else
    {
        // Nothing to show
    }
}