<?xml version="1.0"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="RitardiSoap" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00"  maxBufferPoolSize="2147483647"
    maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
                <binding name="WarningSoap" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00"  maxBufferPoolSize="2147483647"
    maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:89/vc_dev/Eventi/ritardi.asmx"
                binding="basicHttpBinding" bindingConfiguration="RitardiSoap"
                contract="VCSchedulerDelays.RitardiSoap" name="RitardiSoap" />
            <endpoint address="http://localhost:89/vc_dev/Eventi/warning.asmx"
                binding="basicHttpBinding" bindingConfiguration="WarningSoap"
                contract="VCSchedulerWarnings.WarningSoap" name="WarningSoap" />
        </client>
    </system.serviceModel>
</configuration>
