@model IEnumerable<KeyValuePair<string, double>>

@if (ViewBag.authenticated)
{
    if (Model != null && Model.Count() > 0)
    {
        if (Model.Count() > 0)
        {
            var vWidth = Model.Count() < 10 ? 600 : 100 + 50 * Model.Count();
            var CustomTheme = "<Chart> "
      + "<ChartAreas>"
      + "  <ChartArea Name=\"Default1\" _Template_=\"All\">"
      + "     <AxisY>"
      + "       <LabelStyle Font=\"Verdana, 12px\" />"
      + "   </AxisY>"
      + "   <AxisX LineColor = \"64, 64, 64, 64\" Interval = \"1\">"
      + "       <LabelStyle Font = \"Verdana, 12px\" />"
      + "   </AxisX>"
      + "   </ChartArea>"
     + " </ChartAreas>"
       + "<Series>"
        + "<Series IsValueShownAsLabel=\"true\" Name = \"DefaultParetoCategories\" BorderWidth=\"3\" >"
        + " </Series>"
      + " </Series>"
       + "<Legends>"
       + "  <Legend />"
     + "  </Legends>"
    + " </Chart>";

            var myChart = new Chart(width: vWidth, height: 400, theme: CustomTheme)
            .AddTitle(ResAnalysis.CausesCostGraph.lblCausesCost);

            myChart.AddSeries("DefaultParetoCategories", chartType: "column",
        xValue: Model, xField: "Key",
        yValues: Model, yFields: "Value", markerStep: 1
        );
            myChart.Write();

        }
    }
}
else
{
    <div>@ResAnalysis.CausesCostGraph.lblErrNoAuth</div>
}
