
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<ul class="breadcrumb hidden-phone">
    <li>
        <a href="~/Quality/Home/Index">
            @Resources.Shared.lblNavQuality
        </a>
        <span class="divider"></span>
    </li>
    <li>
        <a href="~/Quality/NonCompliancesAnalysis/Index">
            @Resources.Shared.lblNavNonCompliancesAnalysis
        </a>
        <span class="divider"></span>
    </li>

</ul>