@model string;

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AfterLogin</title>
</head>
<body>
    <div>
        @ViewBag.log
        <br />
        <br />
        @ObjectInfo.Print(User)
        <br />
        <br />
        @ObjectInfo.Print(User.Identity)

    </div>
@if(Model.Length > 0)
{
    Response.Redirect(Model);
}
</body>
</html>
